body {
  background-color: #c1f3ff;
}

@keyframes square {
  from {
    fill: cyan;
    stroke: #ff01e4;
  }
  to {
    fill: #ff01e4;
    stroke: cyan;
  }
}

.square {
  stroke-width: 5;
  animation: square 1s ease-in-out 0s infinite alternate;
}

.ellipse {
  fill: rgb(0, 255, 13);
  stroke: #ff0101;
  stroke-width: 5;
}

.circle {
  fill: #d8d6ff;
  stroke: #0127ff;
  stroke-width: 5;
}

.rectangle {
  fill: rgb(185, 250, 177);
  stroke: #003d0d;
  stroke-width: 5;
}
